@font-face {
    font-family: 'Starjedi';
    src: url('fonts/Starjedi.eot');
    src: url('fonts/Starjedi.eot') format('embedded-opentype'),
         url('fonts/Starjedi.woff2') format('woff2'),
         url('fonts/Starjedi.woff') format('woff'),
         url('fonts/Starjedi.ttf') format('truetype'),
         url('fonts/Starjedi.svg#Starjedi') format('svg');
}
